@using  Microsoft.AspNetCore.Identity
@using  BloodDonorship.Data.Models
@using  BloodDonorship.Web.ViewModels.Home
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SigninManager

@model IndexViewModel

@using BloodDonorship.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@if (SigninManager.IsSignedIn(this.User))
{
    <h1>All Requests</h1>
    <hr />
    <div class="row">
        @foreach (AllRequestViewModel request in Model.AllRequests)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Request from: @request.UserUserName</h5>
                        <p class="card-text">Blood Type: @string.Concat(request.UserBloodBloodType, " ", request.UserBloodRhFactor)</p>
                        <p class="card-text">Created on: @request.CreatedOn</p>
                        <a href="#" class="btn btn-primary">Donate</a>
                    </div>
                </div>
            </div>
        }
    </div>
   
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}

