@using BloodDonorship.Web.ViewModels.Requests
@model IEnumerable<BloodDonorship.Web.ViewModels.Requests.AllRequestsPerUserViewModel>

@{
    ViewData["Title"] = "My Requests";
}

<h1>@ViewData["Title"]</h1>
<hr />

<p>
    <a class="btn btn-primary" asp-controller="Requests" asp-action="Create">Create New</a>
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Back to All</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (AllRequestsPerUserViewModel request in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => request.CreatedOn)
            </td>
            <td>               
                <a href="Details?requestId=@request.Id" class="btn btn-success text-white">Donations</a>
                <a href="Delete?requestId=@request.Id" class="btn btn-danger text-white">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
